html{
    background-color: #444444;
}

body{
    background-color: #999999;
}

.title{
    font-size:3em;
    font-weight: 700;
    color: white;
    letter-spacing: 1;
    font-family: "Aclonica";
}

.music-Note{
    color: #1db954;
    font-size: 4em;
}

.hot-Bar-Link{
    color: white;
    font-size: large;
}

.recommendations-made{
    font-size: x-large;
    font-weight: 600;
    color: #555555;
}

.prefrence-Label{
    font-size:1.5em;
    font-weight: bold;
    color : #555555;
}